/ Navigation
%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  .container
    %a.navbar-brand{:href => "#"} RubyGems
    %button.navbar-toggler{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item.active
          %a.nav-link{:href => "#"}
            AnyLogin
            %span.sr-only (current)

/ Page Content
.container
  .row
    .col-lg-4.text-center
      %h1.mt-5 Demo
    .col-lg-8
      %br
      %p.lead 
        How AnyLogin can be used.
        %br
        %a{href: @github_link}=@github_link
      %ul.list-unstyled
        %li Version: v1.3
        %li Last Updated: 16th Nov 2018
  -if user_signed_in?
    .row
      .col-lg-3
      .col-lg-6
        .card
          .card-block{style: "padding:20px"}
            .text-center
              %h2 Hi #{content_tag(:u, current_user.user_name)}! You are now logg-ed in.
              %br
              %br
              = link_to("Logout", destroy_user_session_path, data: {:method => :delete }, class: "btn  btn-secondary " )
  -else    
    .row.text-center
      .col-lg-3
      .col-lg-6
        .card
          .card-block{style: "padding:20px;min-height:200px"}
            %br
            Login using the selection box in the bottom left hand corner.
      .col-lg-3